<mat-card>
  <section>
    <h3>LAB</h3>
    <div class="color-shower" [style.background]="getColor()"
         [colorPicker]="getColor()" (colorPickerChange)="onColorPickerChange($event)"
         [cpDisableInput]="true" [cpAlphaChannel]="'disabled'" [cpPosition]="'left'" >
    </div>
  </section>

  <section>
    <mat-slider [min]="0" [max]="100" [step]="0.1" [value]="LAB.L"
                (input)="onSliderChange($event, 'L')"></mat-slider>
    <mat-form-field>
      <input checkNumber="0 100" matInput type="number"
             placeholder="L" [min]="0" [max]="100" [value]="LAB.L" (input)="onInputChange($event, 'L')"
             (change)="onInputChange($event, 'L')">
    </mat-form-field>
  </section>

  <section>
    <mat-slider [min]="-128" [max]="127" [step]="0.1" [value]="LAB.A"
                (input)="onSliderChange($event, 'A')"></mat-slider>
    <mat-form-field>
      <input checkNumber="-128 127" matInput type="number"
             placeholder="A" [min]="-128" [max]="127" [value]="LAB.A" (input)="onInputChange($event, 'A')"
             (change)="onInputChange($event, 'A')">
    </mat-form-field>
  </section>

  <section>
    <mat-slider [min]="-128" [max]="127" [step]="0.1" [value]="LAB.B"
                (input)="onSliderChange($event, 'B')"></mat-slider>
    <mat-form-field>
      <input checkNumber="-128 127" matInput type="number"
             placeholder="B" [min]="-128" [max]="127" [value]="LAB.B" (input)="onInputChange($event, 'B')"
             (change)="onInputChange($event, 'B')">
    </mat-form-field>
  </section>
</mat-card>
